<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aqualuxe"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".Clientes.PRUEBA"
            android:exported="false"
            android:label="@string/title_activity_prueba" />
        <activity
            android:name=".Clientes.UbicacionClientes"
            android:exported="false" />
        <activity
            android:name=".Clientes.GestionarVehiculosClientes"
            android:exported="false" />
        <activity
            android:name=".Clientes.RegistrarVehiculosClientes"
            android:exported="false" />
        <activity
            android:name=".Clientes.CambioPasswordCliente"
            android:exported="false" />
        <activity
            android:name=".Clientes.PerfilClientes"
            android:exported="false" />
        <activity
            android:name=".Clientes.RealizarReservaClientes"
            android:exported="true" />
        <activity
            android:name=".Clientes.AgendarReservasClientes"
            android:exported="false" />
        <activity
            android:name=".VistaRoles"
            android:exported="false" />
        <activity
            android:name=".Clientes.PaginaReservasClientes"
            android:exported="false" />
        <activity
            android:name=".Admin.ModificarAutolavado"
            android:exported="false" />
        <activity
            android:name=".Admin.CrearAutolavado"
            android:exported="false" />
        <activity
            android:name=".Admin.Autolavados"
            android:exported="false" />
        <activity
            android:name=".Trabajadores.perfilTrabajador"
            android:exported="false" />
        <activity
            android:name=".Admin.ModificarEmpleado"
            android:exported="false" />
        <activity
            android:name=".Admin.CrearEmpleado"
            android:exported="false" />
        <activity
            android:name=".Admin.Empleados"
            android:exported="false" />
        <activity
            android:name=".Admin.ModificarReserva"
            android:exported="false" />
        <activity
            android:name=".Admin.CrearReserva"
            android:exported="false" />
        <activity
            android:name=".Admin.Reservas"
            android:exported="false" />
        <activity
            android:name=".Admin.InicioAdmin"
            android:exported="false" />
        <activity
            android:name=".Trabajadores.inicioTrabajadores"
            android:exported="false" />
        <activity
            android:name=".Clientes.CambioFotoPerfil"
            android:exported="false" />
        <activity
            android:name=".Clientes.AceptacionPermisos"
            android:exported="false" />
        <activity
            android:name=".Clientes.Registro"
            android:exported="false" />
        <activity
            android:name=".Clientes.InicioDeSesion"
            android:exported="true" />
        <activity
            android:name=".Clientes.Login"
            android:exported="false" />
        <activity
            android:name=".Clientes.PaginaInicioCliente"
            android:exported="false" />
        <activity
            android:name=".Clientes.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>